<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Title</title>
</head>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />  
<body>

<form action="" method="post">
    <p>account:<input type="text" name="username" /></p>
    <p>password:<input type="password" name="password" /></p>
    <p><input type="submit" value="login" class="btn-warning"/></p>
</form>
</body>
</html>